
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.sidebar {
  width: 285px;
  padding: 20px;
  background-color: #343a40;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
}


.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.input-group button {

  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.input-group button:hover {
  background-color: #0056b3;
}

.button-group {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.button-group button {
  padding: 10px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.button-group button:hover {
  background-color: #5a6268;
}

.button-group .sort {
  margin-top: 8px;
}

.print {
  margin-bottom:50px;
  background-color: #ff0000;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.print:hover {
  background-color: #cc0000;
}

.average-grade {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  margin: 10px;
}

/* Main Content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;  
  margin-left: 315px;
    
}

.student-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
  padding: 20px;
  overflow-y: auto;
  background-color: #f7f7f7;
}

.student-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.student-item:hover {
  transform: scale(1.02);
}

.student-info {
  flex: 2;
}
.print-container {
  padding: 5px 10px;
}
.print-student {
  padding: 5px 10px;
}
.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-button:hover {
  background-color: #ff1a1a;
}

/* Footer */
footer {
  background-color: #343a40;
  margin-bottom: 0;
  padding: 5px;
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
  border-radius: 1px;
  color: #f7f7f7;
  
 
}

#printDate {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  opacity: 0.7; 
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    padding: 20px;
  }

  .container {
    flex-direction: column;
  }

  .main-content {
    margin-left: 20px;
    margin-top: 20px; /* Add margin-top to avoid overlap */
  }

  .print {
    margin-bottom: 10px;
  }
}